# Keep this example file updated with all configurable environment variables
# for this project

#############
# Databases #
#############

# For easy configuration with Heroku and Dokku, this project uses dj-database-url
# to configure database connections.
#
# To configure a different database, construct a database URL according to the
# schema here: https://github.com/jazzband/dj-database-url#url-schema

DATABASE_URL=postgres://postgres_user:postgres_password@postgres:5432/postgres_db  # pragma: allowlist secret
REDIS_URL=redis://redis:6379/0  # pragma: allowlist secret

##########
# Sentry #
##########

# SENTRY_DSN=

#########
# Email #
#########

# This project is configured to send email to a MailDev instance when running
# locally. To configure this in production, consult your email service provider.

EMAIL_HOST=maildev
EMAIL_PORT=1025
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=
EMAIL_USE_SSL=
DEFAULT_FROM_EMAIL=django_template@localhost

###################
# Django settings #
###################

# Use the `django_template.settings.dev` settings module when running locally.
# On production, set this to `django_template.settings.base`.
# On test, set this to `django_template.settings.test`.

DJANGO_SETTINGS_MODULE=django_template.settings.dev

# DJANGO_ENV=development

# Generate a secret key with:
# python3 -c "import secrets; print(''.join(secrets.choice([chr(i) for i in range(0x21, 0x7F)]) for i in range(60)));"

# SECRET_KEY=

# ALLOWED_HOSTS=*

# CSRF_TRUSTED_ORIGINS=
